<h2 class="screen-align">Createtree</h2>
<div id="template-ibhn" class="gjs-row">
    <div id="template-ig0l" class="gjs-cell">
        <label id="template-iqhd" class="label ">Name</label>
        <input id="template-igxej" [(ngModel)]="treeentity.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
    <div id="template-i0hi" class="gjs-cell">
        <label id="template-idkj" class="label ">Email</label>
        <input id="template-i3zja" [(ngModel)]="treeentity.email"
        [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
        />
    </div>
</div>
<div id="template-ivde" class="gjs-row">
    <div id="template-iiz1" class="gjs-cell">
        <div id="template-i95z7" (click)="GpCreate()" class="button btn btn-primary ">Create</div>
    </div>
</div>